In [1]:
year_of_birth= int(input("Enter your year of birth: "))
age= 2025 - year_of_birth
print(f"I am {age} years old")

I am 21 years old

In [22]:
x=10
y=20
z=3

In [15]:
#subtract
y-x

10

In [13]:
greetings=input("Say Hi to get a response: ")
print(greetings)

hi nigga

In [16]:
#multiply
x*y

200

In [17]:
#divide
y/x

2.0

In [18]:
#modulus
y%x

0

In [20]:
#10 raised to the power 3
x**3

1000

In [21]:
#20 raised to power 2
y**2

400

In [23]:
#modulus when you divide 10 to 3
x%z

1

In [24]:
#find the modules when you divide 20 against 10
y%x

0

#### Variables
define x to be 10 and y to be 20

####logical opeartors
and . or, not

In [ ]:
##### comparison operators
#greater than
#less than
#greater than or equal to
#less than or equal to

#### logical operators
they are
-and
-or
-not

#### comparison operators
are
- equals to =
- not equals to !=
- greater than >
- less than <
- greater than or equal to >=
- less than or equal to <=

In [27]:
#print x + y
#print x raised to power y
#print x modulus y    
print(x + y)
print(x**y)     
print(x % y)

30
100000000000000000000
10

In [32]:
#compare and see wether y is greater than x and z is less than 5
x>y and z<5
print(x>y and z<5)

False

In [29]:
x>y

False

#### Control flow statements
1. conditional statements
if statement
else statement
if-else statement---two conditions
if-elif-else statement --multiple condtions

In [ ]:
miaka = int(input("weka miaka yako: "))
if miaka >= 18:

    print("you are an adult")
else:
    print("wewe si adult, Wewe ni mtoto")

wewe si adult, Wewe ni Anaya

In [2]:
miaka = int(input("weka miaka yako: "))
if miaka >0 and miaka <13:
    print("mtoto")
elif miaka >=13 and miaka <20:
    print("kijana")
elif miaka >=20 and miaka <35:
    print("mtu mzima")
else:
    print("wewe ni mzee")

mtu mzima

#### Loops
For loops-iterates through every element in a given data structure
While loop -condition met is true it executes the code

In [3]:
#list of fruits
fruits = ["mango","banana","orange","pawpaw","apple"]
for fruit in fruits:
    print(fruit)

mango
banana
orange
pawpaw
apple

In [14]:
#list of numbers from 1 to 10
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    print(number,end=" ")

1 2 3 4 5 6 7 8 9 10

#### while loop 
-iterates element until condition has been met

In [9]:
#count from 0 and stop at 5
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
#break, continue and pass statements
#break - used to terminate a loop
#continue - skips the current iteration and moves to the next iteration 
#pass - used when a statement is required syntactically but you do not want any command or code to execute

In [12]:
for num in numbers:
    if num >= 5:
        break
    print(num)

1
2
3
4

In [17]:
for num in numbers:
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

In [18]:
for num in numbers:
    if num == 5:
        pass
    print(num)

1
2
3
4
5
6
7
8
9
10

#### list comprehensions
-

In [19]:
#### list comprehensions
# an easier way to create lists from loops
even_numbers = [i for i in range(0,11) if i%2==0]
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [21]:
square_numbers = [i**2 for i in range(0,26)]
print(square_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [22]:
cubed_numbers = [i**3 for i in range(0,26)]
print(cubed_numbers)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625]

In [23]:
odd_numbers = [i for i in range(0,26) if i%2!=0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [26]:
prime_numbers = [i for i in range(0,26) if i%1==0 or i%i==0]
print(prime_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [ ]:
#python functions
# its a block of code which only runs when it is called
# similarity in sql is a stored procedure 
# blcok of reusable code 
#types of functions
#built in functions - functions that are already defined in python
#lamda functions - small anonymous functions
#user defined functions - functions that are defined by the user to perform specific tasks
#decorators - special functions that modify the behavior of other functions
#function arguments - values that are passed to a function when it is called

In [28]:
#function that adds two numbers
def add(x, y):
    return x + y

In [29]:
add1=add(10, 20)
print(add1)

30

In [30]:
add2=add(30, 40)
print(add2)

70

In [5]:
#write a function to multiply 3 numbers
def multiply(a,b,c):
    return a * b * c

In [34]:
multiply1=multiply(2,3,4)
print(multiply1)

24

In [2]:
#function that greets you
def greeting(name):
    return f"Sasa {name}, welcome to luxdevhq."

In [3]:
greeting1=greeting("atasaa")
print(greeting1)

Sasa atasaa, welcome to luxdevhq.

In [6]:
multiply2=multiply(10,11,12)
print(multiply2)

1320

In [7]:
#lambda functions -used for simpple one line functions
product = lambda x,y,z: x * y * z

In [ ]:
product1=product(1,2,3)
product1

6

In [10]:
salamu = lambda name: f"Sasa {name}, welcome to luxdevhq."

In [11]:
greeting1=salamu("atasaa")
print(greeting1)

Sasa atasaa, welcome to luxdevhq.

In [ ]:
#write a python function that checks if a number is even or odd
def check_even_odd(num):
    if num % 2 == 0:
        return f"{num} is even"
    else:
        return f"{num} is odd"

In [ ]:
#list - its a collection which is ordered and changeable. Allows duplicate members.
#list is written with square brackets []
#data structure -is a particular way of organizing and storing data in a computer so that it can be accessed and modified efficiently.
#list - 
#tupples -it is immutable, ordered collection of items. written with round brackets ()
#how to denote a tupple ? ()
#sets
#dictionary

fruits = ["mango","banana","pawpaw","apple"]
fruits.append("oranges")
fruits

['mango', 'banana', 'pawpaw', 'apple', 'oranges']

In [16]:
fruits.pop()

'oranges'

In [17]:
fruits

['mango', 'banana', 'pawpaw', 'apple']

In [ ]:
image_pexels = (1920, 1080)
#count does what ? 
#index ? the position of an item in a list
image_pexels.count(1920)

1

In [20]:
image_pexels.index(1920)

0

In [23]:
image_pexels[0]

1920

In [ ]:
#3.sets 
#unordered
#mutable
#denoted by {}
#methods :inrersection, union, difference, symmetric difference
#union is the combination of two sets without duplicates
#sets do not allow duplicates
#intersection - it returns a set that contains the common elements/values between two sets

In [25]:
set1 = {5,7,6,8,4}
set2 = {1,2,3,4,9}

In [27]:
set3 = set1.intersection(set2)
set3

{4}

In [28]:
set4 = set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#dictionaries are used to store data values in key:value pairs.
#denoted by {}
#key - value pairs

In [31]:
person={
    "name":"atasaa",
    "age":21,
    "fruit":"avocado"
}

In [32]:
person

{'name': 'atasaa', 'age': 21, 'fruit': 'avocado'}

In [33]:
data={
    "name":["kipngeno","atasaa","nelle","melomelo","wambua"],
    "age":[23,23,24,23,25],
    "fruit":["mango","banana","pawpaw","apple","avocado"]
    
}

In [39]:
import pandas as pd
df=pd.DataFrame(data)
df.head

<bound method NDFrame.head of        name  age    fruit
0  kipngeno   23    mango
1    atasaa   23   banana
2     nelle   24   pawpaw
3  melomelo   23    apple
4    wambua   25  avocado>

In [38]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 2.1 MB/s eta 0:00:05
   ----- ---------------------------------- 1.6/11.0 MB 3.5 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.0 MB 4.1 MB/s eta 0:00:03
   ------------- -------------------------- 3.7/11.0 MB 4.3 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/11.0 MB 4.5 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/11.0 MB 4.9 MB/s eta 0:00:01
   ---------------------------- ----------- 7.9/11.0 MB 5.3 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/11.0 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 5.7 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp312-cp312-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/12.8 MB 8.4 MB/s eta 0:00:02
   -------- ------------------------------- 2.6/12.8 MB 6.3 MB/s eta 0:00:02
   ------------- -------------------------- 4.2/12.8 MB 6.8 MB/s eta 0:00:02
   ------------------ --------------------- 5.8/12.8 MB 6.6 MB/s eta 0:00:02
   --------------------- ------------------ 6.8/12.8 MB 6.4 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/12.8 MB 6.2 MB/s eta 0:00:01
   --------------------------- ------------ 8.9/12.8 MB 5.8 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.8 MB 5.8 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.8 MB 5.6 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.8 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 5.5 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
#indexing 
#slicing -uses indexes to return a new list from the original list without modifying the original list

In [40]:
numbers = [10,30,40,50,]

In [41]:
numbers[1]

30

In [42]:
numbers[3]

50

In [43]:
numbers[:3]

[10, 30, 40]

In [44]:
numbers[1:]

[30, 40, 50]

In [45]:
numbers[1:3]

[30, 40]

In [46]:
#append new number to the list
numbers.append(60)

In [47]:
numbers

[10, 30, 40, 50, 60]

In [48]:
numbers[2:]

[40, 50, 60]